<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Еда</title>
    <link rel="stylesheet" href="/static/styles.css"> <!-- Подключаем общий стиль -->
</head>
<body>

<header>
    <nav>
        <a href="{{ url_for('main.home') }}">Маркетплейс</a>
    </nav>
    <nav>
        <a href="{{ url_for('main.clothing') }}">Одежда</a>
        <a href="{{ url_for('main.shoes') }}">Обувь</a>
        <a href="{{ url_for('main.electronics') }}">Электроника</a>
        <a href="{{ url_for('main.household') }}">Бытовые предметы</a>
        <a href="{{ url_for('main.food') }}">Еда</a>
    </nav>
    <nav>
    <div class="login">
        <a href="{{ url_for('main.login') }}">Логин</a>
    </div>
    </nav>
</header>

<div class="container">
    <div class="product">
        <img src="https://via.placeholder.com/220" alt="Еда 1">
        <h3>Еда 1</h3>
        <p>Цена: 300 руб.</p>
        <button class="add-to-cart">Добавить в корзину</button>
    </div>
    <div class="product">
        <img src="https://via.placeholder.com/220" alt="Еда 2">
        <h3>Еда 2</h3>
        <p>Цена: 450 руб.</p>
        <button class="add-to-cart">Добавить в корзину</button>
    </div>
    <div class="product">
        <img src="https://via.placeholder.com/220" alt="Еда 3">
        <h3>Еда 3</h3>
        <p>Цена
