<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> <!-- Подключаем общий стиль -->
</head>
<body>

<header>
    <nav>
        <a href="{{ url_for('main.home') }}">Маркетплейс</a>
    </nav>
    <nav>
        <a href="{{ url_for('main.clothing') }}">Одежда</a>
        <a href="{{ url_for('main.shoes') }}">Обувь</a>
        <a href="{{ url_for('main.electronics') }}">Электроника</a>
        <a href="{{ url_for('main.household') }}">Бытовые предметы</a>
        <a href="{{ url_for('main.food') }}">Еда</a>
    </nav>
    <div>Регистрация</div>
</header>

<div class="container">
    <h2>Создать аккаунт</h2>
    <form action="{{ url_for('main.register') }}" method="POST">
        {{ form.hidden_tag() }}  <!-- Для CSRF защиты -->
        <div>
            <label for="username">Логин:</label>
            {{ form.username(class="form-control", id="username") }}  <!-- Используем Flask-WTF для рендеринга -->
        </div>
        <div>
            <label for="password">Пароль:</label>
            {{ form.password(class="form-control", id="password") }}  <!-- Используем Flask-WTF для рендеринга -->
        </div>
        <div>
            <label for="confirm_password">Подтвердите пароль:</label>
            {{ form.confirm_password(class="form-control", id="confirm_password") }}  <!-- Используем Flask-WTF для рендеринга -->
        </div>
        <button type="submit">Зарегистрироваться</button>
    </form>
    <p>Уже есть аккаунт? <a href="{{ url_for('main.login') }}">Войдите</a></p>
</div>

</body>
</html>
